{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#6CB1F1">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>艦これウィジェットの<br>通知するbotちゃん!</h1>
        <h5>アイコンを定期的に変えたいと思ってます！描いてくれる方募集中です！開発<a href="https://twitter.com/otiai10">@otiai10</a>まで！</h5>
        <p></p>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="box">
        <div class="tl">
            <h3 class="bot-name">デフォルトちゃん</h3>
            <a class="twitter-timeline" href="https://twitter.com/KanColleWidget" data-widget-id="462189121566294017">@KanColleWidget からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <h3 class="bot-name">0号ちゃん</h3>
            <a class="twitter-timeline" href="https://twitter.com/KanColleWidget0" data-widget-id="462191654913331200">@KanColleWidget0 からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <h3 class="bot-name">2号ちゃん</h3>
            <a class="twitter-timeline" href="https://twitter.com/KanColleWidget2" data-widget-id="462192123941380096">@KanColleWidget2 からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <h3 class="bot-name">3号ちゃん</h3>
            <a class="twitter-timeline" href="https://twitter.com/KanColleWidget3" data-widget-id="462192361741623296">@KanColleWidget3 からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>


{{template "footer.html" .}}
