{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#6CB1F1">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>艦これウィジェットの<br>通知するbotちゃん!</h1>
        <h5>アイコンを定期的に変えたいと思ってます！描いてくれる方募集中です！開発<a href="https://twitter.com/otiai10">@otiai10</a>まで！</h5>
        <p></p>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="thanks">
        <h3>Thanks</h3>
        <a href="https://twitter.com/roonyan">@roonyan</a>,
        <a href="https://twitter.com/keityou1605">@keityou1605</a>,
        <a href="https://twitter.com/herauro">@herauro</a>,
        and you all!
    </div>
    <div class="box">
        <div class="tl">
            <a class="twitter-timeline" href="https://twitter.com/Yudachi_kcw" data-widget-id="468343632366297088">@Yudachi_kcw からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <a class="twitter-timeline" href="https://twitter.com/Kaga_kcw" data-widget-id="468344378059001856">@Kaga_kcw からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <a class="twitter-timeline" href="https://twitter.com/Akagi_kcw" data-widget-id="468344819643719680">@Akagi_kcw からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="tl">
            <a class="twitter-timeline" href="https://twitter.com/401_kcw" data-widget-id="468345018059468802">@401_kcw からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>



{{template "footer.html" .}}
