{{set . "title" "艦これウィジェットの通知するbotちゃん"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#6CB1F1">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>艦これウィジェットの<br>通知するbotちゃん!</h1>
        <h5>アイコンを定期的に変えたいと思ってます！描いてくれる方募集中です！開発<a href="https://twitter.com/otiai10">@otiai10</a>まで！</h5>
        <p></p>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="thanks">
        <h3>Thanks</h3>
        <a href="https://twitter.com/roonyan">@roonyan</a>,
        <a href="https://twitter.com/keityou1605">@keityou1605</a>,
        <a href="https://twitter.com/herauro">@herauro</a>,
        and you all!
    </div>
    <div class="box">
        <div class="tl mission">
            {{template "tl.html" .bots.Yudachi_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Kaga_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Akagi_kcw}}
        </div>
        <div class="tl mission">
            <h3>401_kcw</h3>
            <a class="twitter-timeline" href="https://twitter.com/401_kcw" data-widget-id="468345018059468802">@401_kcw からのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="box">
        <div class="tl mission">
            {{template "tl.html" .bots.Ikazuchi_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Inazuma_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Hibiki_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Akatsuki_kcw}}
        </div>
    </div>
    <div class="box">
        <div class="tl mission">
            {{template "tl.html" .bots.Shimakaze_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Makigumo_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Ryujo_kcw}}
        </div>
        <div class="tl mission">
            {{template "tl.html" .bots.Tenryu_kcw}}
        </div>
    </div>
    <div class="box">
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Aoba_kcw}}
        </div>
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Kinugasa_kcw}}
        </div>
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Nagato_kcw}}
        </div>
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Kikuduki_kcw}}
        </div>
    </div>
    <div class="box">
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Mogami_kcw}}
        </div>
        <div class="tl nyukyo">
            {{template "tl.html" .bots.Sakawa_kcw}}
        </div>
        <div class="tl sortie">
            {{template "tl.html" .bots.Yukikaze_kcw}}
        </div>
        <div class="tl sortie">
            {{template "tl.html" .bots.Amatsukaze_kcw}}
        </div>
    </div>
    <div class="box">
        <div class="tl sortie">
            {{template "tl.html" .bots.Sazanami_kcw}}
        </div>
        <div class="tl sortie">
            {{template "tl.html" .bots.Ushio_kcw}}
        </div>
        <div class="tl sortie">
            {{template "tl.html" .bots.Akebono_kcw}}
        </div>
        <div class="tl sortie">
            {{template "tl.html" .bots.Oboro_kcw}}
        </div>
    </div>
    <div class="box">
        <div class="tl createship">
            {{template "tl.html" .bots.Kongo_kcw}}
        </div>
        <div class="tl createship">
            {{template "tl.html" .bots.Kirishima_kcw}}
        </div>
        <div class="tl createship">
            {{template "tl.html" .bots.Hiei_kcw}}
        </div>
        <div class="tl createship">
            {{template "tl.html" .bots.Haruna_kcw}}
        </div>
    </div>
</div>



{{template "footer.html" .}}
